In [1]:
from mysql.connector import connect

In [74]:
def exec_db(sql_stmt):
    mydb = connect(host="localhost", user="root", password="root", database="INDURCSM")
    print(sql_stmt)
    cursor = mydb.cursor()
    cursor.execute(sql_stmt)
    try:
        mydb.commit()
    except:
        return cursor.fetchall()
    return res

In [11]:
# exec_db("DROP TABLE STUDENTH")

In [10]:
exec_db("CREATE TABLE StudentH(NAME VARCHAR(255), ADDERSS VARCHAR(255))")

In [12]:
exec_db("ALTER TABLE STUDENTH ADD COLUMN ID INT AUTO_INCREMENT PRIMARY KEY")

In [17]:
exec_db("INSERT INTO STUDENTH(NAME,ADDERSS) VALUES ('{0}','{1}')".format("Shekhar","sdpt 21"))

INSERT INTO STUDENTH(NAME,ADDERSS) VALUES ('Shekhar','sdpt 21')

In [80]:
exec_db("SELECT * FROM STUDENTH;")

SELECT * FROM STUDENTH;

[('Shekhar', 'sdpt 21', 1)]

In [ ]:
data = [("")]

In [65]:
import pandas as pd

mydb = connect(host="localhost", user="root", password="root", database="INDURCSM")
cursor = mydb.cursor()

pd.read_sql("SELECT * FROM STUDENTH;",mydb)

C:\Users\MIC LAB-41\AppData\Local\Temp\ipykernel_9148\2150179157.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM STUDENTH;",mydb)

      NAME  ADDERSS  ID
0  Shekhar  sdpt 21   1

In [3]:
import sqlalchemy

In [6]:
help(sqlalchemy.connectors)

AttributeError: module 'sqlalchemy' has no attribute 'connectors'